---
import Window from "../Window.astro";
---

<Window size="h-[13rem] w-[20rem]" contentClasses="p-6">
  <div class="flex flex-col gap-1 justify-center items-center">
    <span class="mono italic">my local time</span>
    <span id="clock" class="text-6xl">--:--</span>

    <div class="*:text-2xl flex gap-1 mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e8eaed"
      >
        <path
          d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
        >
        </path>
      </svg>

      Warsaw, Poland
    </div>
  </div>

  <script>
    const clock = document.getElementById("clock")!;
    const time = (): string => {
      return new Date().toLocaleString("en-GB", {
        timeZone: "Europe/Warsaw",
        hour: "2-digit",
        minute: "2-digit",
      });
    };

    clock.innerText = time();
    setInterval(() => {
      clock.innerText = time();
    }, 1000);
  </script>
</Window>
