---
import MaterialIcon from "../MaterialIcon.astro";
import Window from "../Window.astro";
---

<Window size="h-[17.2rem] w-[96vw] lg:w-[28rem]" contentClasses="p-6">
  <div class="flex flex-col gap-1 justify-center items-center">
    <span class="mono italic">local time</span>
    <span id="clock" class="text-6xl">:</span>

    <div class="*:text-2xl flex gap-1 mt-4 justify-center items-center">
      <MaterialIcon name="location_on" />
      Warsaw, Poland
    </div>
  </div>

  <script>
    const clock = document.getElementById("clock")!;
    const time = (): string => {
      return new Date().toLocaleString("en-GB", {
        timeZone: "Europe/Warsaw",
        hour: "2-digit",
        minute: "2-digit",
      });
    };

    clock.innerText = time();
    setInterval(() => {
      clock.innerText = time();
    }, 1000);
  </script>
</Window>
