---
import Window from "../Window.astro";
---

<Window size="h-[15rem] w-[30rem]">
  <div class="text-xl flex flex-col gap-1 justify-center items-center">
    <span>hi, i'm</span>
    <span class="text-4xl font-extrabold mono">senge1337</span>
    <span>and i do some cool nerdy stuff</span>
  </div>
</Window>
