---
import Window from "../Window.astro";
import MaterialIcon from "../MaterialIcon.astro";
---

<Window size="h-[20rem] w-[50rem]">
  <div class="text-xl flex flex-col gap-1 justify-center items-center">
    <span>hi, i'm</span>
    <span class="text-4xl font-extrabold mono">senge1337</span>
    <span>and i do some cool nerdy stuff</span>

    <div
      class="mt-8 mono text-sm flex flex-row justify-center items-center gap-1.5"
    >
      <MaterialIcon size="md-18" name="calendar_month" />
      <span id="age">16</span> years old /

      <MaterialIcon size="md-18" name="person" />
      any/all /

      <MaterialIcon size="md-18" name="favorite" />
      aroace /

      <MaterialIcon size="md-18" name="flag" />
      polish /

      <MaterialIcon size="md-18" name="work" />
      wannabe programmer
    </div>
  </div>
</Window>

<script>
  const age =
    new Date().getFullYear() -
    new Date("2008-02-14").getFullYear() -
    (new Date() < new Date(new Date().getFullYear(), 1, 14) ? 1 : 0);

  document.getElementById("age")!.innerText = `${age}`;
</script>
