---
import Window from "../Window.astro";
import Badge from "../Badge.astro";
---

<Window
  size="w-[96vw] lg:w-[21rem] !justify-start !items-start"
  contentClasses="p-6"
>
  <span class="mono italic">utilities</span>
  <div class="flex flex-row flex-wrap gap-3 mt-3 text-4xl text-gray-700">
    <!-- Programming Languages -->
    <Badge name="c" />
    <Badge name="cplusplus" />
    <Badge name="typescript" />
    <Badge name="kotlin" />
    <Badge name="python" />
    <Badge name="php" />
    <Badge name="rust" />
    <!-- Webdev -->
    <Badge name="react" />
    <Badge name="svelte" />
    <Badge name="mithril" />
    <Badge name="astro" />
    <!-- Databases -->
    <Badge name="mysql" />
    <Badge name="sqlite" />
    <!-- CSS -->
    <Badge name="tailwindcss" />
    <!-- OS -->
    <Badge name="archlinux" />
    <Badge name="android" />
    <!-- Misc -->
    <Badge name="github" />
    <Badge name="neovim" />
    <Badge name="vscode" />

    <Badge name="cloudflare" />
    <Badge name="firefox" />
    <Badge name="intellij" />
    <Badge name="pycharm" />
    <Badge name="bun" />
  </div>
</Window>
