---
import Window from "../components/Window.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Window title="main window">
    <div class="text-xl flex flex-col gap-1">
      <span>hi, i'm</span>
      <span class="text-4xl">senge1337</span>
      <span>and i do some cool nerdy stuff</span>
    </div>
  </Window>
</Layout>
