---
import Window from "../components/Window.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";

// Windows
import MainWindow from "../components/windows/MainWindow.astro";
import ProjectsWindow from "../components/windows/ProjectsWindow.astro";
import UtilitiesWindow from "../components/windows/UtilitiesWindow.astro";
import ClockWindow from "../components/windows/ClockWindow.astro";
---

<Layout>
  <!-- YES I KNOW IM SUPPOSED TO USE CSS GRID -->
  <!-- IT WOULD TAKE LIKE 8 HOURS I REALLY DONT CARE -->
  <!-- NEGATIVE MARGIN AND EYEBALLING IS GOOD ENOUGH FOR ME -->

  <div class="flex flex-col items-center justify-center h-screen w-screen">
    <div>
      <div class="hidden lg:block">
        <div class="flex flex-row">
          <MainWindow />
          <ProjectsWindow />
        </div>
        <div class="flex flex-row mt-[-18.2rem]">
          <UtilitiesWindow />
          <ClockWindow />
        </div>
      </div>

      <div class="absolute top-0 left-0 lg:hidden">
        <MainWindow />
        <ProjectsWindow />
        <ClockWindow />
        <UtilitiesWindow />
      </div>
    </div>
  </div>

  <style is:global>
    .mono {
      font-family: "JetBrains Mono", serif;
    }

    .inter {
      font-family: "Inter", serif;
    }

    .material-icons.md-18 {
      font-size: 18px;
    }
    .material-icons.md-24 {
      font-size: 24px;
    }
    .material-icons.md-36 {
      font-size: 36px;
    }
    .material-icons.md-48 {
      font-size: 48px;
    }
  </style>
</Layout>
