---
interface Props {
  contentClasses?: string;
  size: string;
}

const { contentClasses = "", size } = Astro.props;
---

<div
  class={`rounded-xl m-2 bg-[#000039] border-4 border-[#5B19B7] text-white max-w-full flex justify-center items-center ${size}`}
>
  <!-- Content -->
  <div class={contentClasses}>
    <slot />
  </div>
</div>
